<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售合同管理</title>
    <link rel="stylesheet" th:href="@{../static/lib/layui/css/layui.css}">
    <script th:src="@{../static/lib/layui/layui.js}"></script>
    <style>

        .layui-table-init{
            display:none;
        }

        .layui-form-item-first{
            margin-top: 25px;
        }

        .layui-form-item{
            margin-right: 50px;
            margin-left: 50px;
        }
    </style>
</head>
<body>
<table class="layui-hide" id="contract" lay-filter="contract"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button data-method="offset" data-type="auto"  class="layui-btn layui-btn-sm" lay-event="add-contract">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">编辑</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">查看</button>


    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="contract-edit"><i class="layui-icon"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="contract-del"><i class="layui-icon"></i>删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="contract-look"><i class="layui-icon layui-icon-search"></i>查看</a>
</script>
<div id="add-contract-script" style="display: none;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend align="center" id="fieldTitle"></legend>
    </fieldset>
    <form class="layui-form" id="contract-form" lay-filter="contract-form" >
        <input type="hidden" name="pkContractId">
        <!--<div class="layui-form-item layui-form-item-first">
            <label class="layui-form-label">合同编号</label>
            <div class="layui-input-block">
                <input type="text" name="pkContractId"  required lay-verify="required|number" autocomplete="off" placeholder="请输入合同编号" class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">发货单编号</label>
            <div class="layui-input-block">
                <input type="text" name="contractName"  required lay-verify="required"  autocomplete="off" placeholder="请输入合同名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主题</label>
            <div class="layui-input-block">
                <select name="contractType">
                    <option value="服务">服务</option>
                    <option value="产品销售"  selected>产品销售</option>
                    <option value="代销">代销</option>
                    <option value="分销">分销</option>
                    <option value="业务合作">业务合作</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关联客户</label>

            <div class="layui-input-block">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select name="fkCusTypeId">
                        <option value="1" selected>企业客户</option>
                        <option value="2">个人客户</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="fkCusName"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关联对象</label>

            <div class="layui-input-block">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select name="fkObjectTypeId">
                        <option value="1" selected>销售机会</option>
                        <option value="2">故障报修</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="phone"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="con-start-date" name="startTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" style="width: 275px">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="con-end-date" name="endTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" style="width: 275px">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户签约人</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="fkContactsId"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">我方签约人</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="fkUserId"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">付款方式</label>
            <div class="layui-input-block">
                <select name="contractPayment">
                    <option value="人民币">支票</option>
                    <option value="美元"  selected>现金</option>
                    <option value="欧元">邮政汇款</option>
                    <option value="英镑">电汇</option>
                    <option value="德国马克">网上银行</option>
                    <option value="德国马克">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="contractContext"></textarea>
            </div>
        </div>
        <div style="display: none">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="con-form-submit" id="con-form-submit">立即提交</button>
        </div>
    </form>
</div>


<script>
    var layuiOpenContract;
    layui.use(['table','jquery','layedit','form','laydate'], function(){
        var layer = layui.layer;
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#con-start-date'
        });
        laydate.render({
            elem: '#con-end-date'
        });

        table.render({
            elem: '#contract'
            ,height: 315 //容器高度
            ,url:'contract.list'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            /*,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]*/
            ,title: '销售合同表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'activityName', title:'活动名称', width:105, fixed: 'left', unresize: true, sort: true}
                    ,{field:'activityHead', title:'负责人', width:120}
                    ,{field:'activityType', title:'类型', width:150}
                    ,{field:'activityBudget', title:'预算', width:200,templet:"<div>{{layui.util.toDateString(d.startTime,'yyyy-MM-dd HH:mm:ss')}}</div>"}
                    ,{field:'activityActualNumber', title:'实际参加人数', width:120}
                    ,{field:'activityPlannedStartdate', title:'计划开始时间',width:120}
                    ,{field:'activityPlannedEnddate', title:'计划结束时间', width:120}
                    ,{field:'activityApprovalProcess', title:'审批状态', width:120}
                    ,{field:'activityCirculationdate', title:'流转时间', width:120}
                    ,{field:'activityApprovalResult', title:'审批结果', width:120}
                    ,{field:'activityFounder', title:'创建人', width:120}
                    ,{field:'activityGmtCreate', title:'创建时间', width:120}
                ]
            ]

            ,page: true
            ,limits: [3,5,10]
            ,limit: 3 //每页默认显示的数量
            ,id:'contractTable'
        });

        var contractUrl;

        //头工具栏事件
        table.on('toolbar(contract)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add-contract':
                    $("#contract-form")[0].reset();
                    form.render();
                    layuiOpenContract = layer.open({
                        title:"增加",
                        btn: ['保存', '取消'],
                        yes: function(index, layero){
                            contractUrl = "contract.add";
                            $("#con-form-submit").click();

                        },
                        btn2: function(index, layero){
                            layer.msg("取消")

                            //return false 开启该代码可禁止点击该按钮关闭
                        },
                        type: 1,
                        area:['800px','500px'],
                        content: $("#add-contract-script"), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        success:function(){
                            $("#fieldTitle").text("新增[合同销售]");
                        }
                    });
                    break;
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(contract)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'contract-del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"contract.del",
                        data:{
                            id:data.pkContractId
                        },
                        type:"post",
                        dataType:"TEXT",
                        success:function(data){
                            if (data=="1"){
                                layer.msg("操作成功",{icon:1, time: 500},function () {
                                    table.reload('contractTable','data')
                                });
                            }else{
                                layer.msg("操作失败",{icon:2, time: 1000});

                            }
                        }
                    })


                });
            } else if(obj.event === 'contract-edit'){
                layuiOpenContract = layer.open({
                    title:"编辑",
                    btn: ['保存', '取消'],
                    yes: function(index, layero){

                        contractUrl = "contract.edit";
                        $("#con-form-submit").click();

                    },
                    type: 1,
                    area:['800px','500px'],
                    content: $("#add-contract-script"), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    success:function(){
                        $("#fieldTitle").text("编辑[合同销售]");
                        form.val("contract-form",data)
                    }
                });
            }else if(obj.event === 'contract-look'){
                layuiOpenContract = layer.open({
                    title:"查看",
                    btn: ['确定'],
                    yes: function(index){
                        this.cancel();
                        layer.close(layuiOpenContract);

                    },
                    type: 1,
                    area:['800px','500px'],
                    content: $("#add-contract-script"), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    success:function(){
                        $("#fieldTitle").text("查看[合同销售]");
                        form.val("contract-form",data);
                        layui.$('#contract-form input').attr('disabled',true);
                        layui.$('#contract-form select').attr('disabled',true);
                        layui.$('#contract-form textarea').attr('disabled',true);
                        layui.form.render();
                    },
                    cancel:function () {
                        $('#contract-form input').removeAttr('disabled');
                        $('#contract-form select').removeAttr('disabled');
                        $('#contract-form textarea').removeAttr('disabled');
                    }
                });
            }
        });


        table.on('row(contract)', function(obj){
            // console.log(obj.tr) //得到当前行元素对象
            // console.log(obj.data) //得到当前行数据
            $(".layui-table-view:not(':first')").show()


            var cid = obj.data.pkContractId;
            table.reload('detailTable', {
                where: {
                    key: {
                        cid: cid
                    }
                }
            }, 'data');

        });

        //监听合同新增的提交
        form.on('submit(con-form-submit)', function(data){
            var formData = data.field;
            $.ajax({
                url:contractUrl,
                type:"post",
                data:formData,
                dataType:"text",
                success:function (data) {

                    if (data=="1"){
                        layer.msg("操作成功",{icon:1, time: 1000},function () {
                            layer.close(layuiOpenContract);
                            table.reload('contractTable', 'data');
                            $("#contract-form")[0].reset();
                            form.render();
                        });
                    }else{
                        layer.msg("操作失败",{icon:2, time: 1000});
                        $("#contract-form")[0].reset();
                        form.render();
                    }
                }
            });
            return false;
        });


        form.on('select(contractType)', function(data){

            var value = data.value;
            //执行重载
            table.reload('contractTable', {
                where: {
                    key: {
                        contractType: value
                    }
                }
            }, 'data');
            $('#contractType').val(value);

        });

        $(".layui-table-view:not(':first')").hide()
    });
</script>

<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">发货单明细</li>
    </ul>
    <div class="layui-tab-content" >
        <div class="layui-tab-item layui-show">

            <table class="layui-hide" id="contract-detail" lay-filter="detail"></table>

            <script type="text/html" id="detail-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加产品明细</button>
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">增加附件明细</button>
                </div>
            </script>
            <script type="text/html" id="detail-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="contract-detail-edit"><i class="layui-icon"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="contract-detail-del"><i class="layui-icon"></i>删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="contract-detail-look"><i class="layui-icon layui-icon-search"></i>查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#contract-detail'
                        ,height: 250 //容器高度
                        ,url:'ContractDetail.list'
                        ,toolbar: '#detail-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '合同明细表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'contractDetailName', title:'产品名称', width:200, unresize: true}
                                ,{field:'contractDetailModelType', title:'型号规格', width:120}
                                ,{field:'contractDetailMeasurement', title:'计量单位', width:150}
                                ,{field:'contractDetailNumber', title:'数量', width:120}
                                ,{field:'contractDetailUnivalence', title:'基本单价', width:120}
                                ,{field:'contractDetailPrice', title:'销售价格',width:120}
                                ,{field:'contractDetailTotalSum', title:'折前总额', width:120}
                                ,{field:'contractDetailDiscount', title:'实际折扣（%）', width:120}
                                ,{field:'contractDetailGrossProfit', title:'毛利润', width:120}
                                ,{field:'contractDetailRate', title:'税率', width:120}
                                ,{field:'contractDetailRevenue', title:'税额', width:120}
                                ,{field:'contractDetailSaleroom', title:'销售额', width:120}
                                ,{field:'joinTime', title:'明细附件', width:120}

                                ,{fixed: 'right', title:'操作', toolbar: '#detail-barDemo', width:250}
                            ]
                        ]
                        ,page: true
                        ,id:"detailTable"
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="plan-detail" lay-filter="detail"></table>

            <script type="text/html" id="plan-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>
                    <div class="layui-input-inline layui-btn-sm" style="margin-top: -15px;">
                        <select name="quiz1">
                            <option value="浙江" selected="">所有人的收款计划（全部）</option>
                            <option value="你的工号">我的收款计划（全部）</option>
                            <option value="你最喜欢的老师">我的收款计划（已完成）</option>
                            <option value="浙江" selected="">我的收款计划（未完成）</option>
                            <option value="你的工号">所有人的收款计划（已完成）</option>
                            <option value="你最喜欢的老师">所有人的收款计划（未完成）</option>
                        </select>
                    </div>
                </div>
            </script>
            <script type="text/html" id="plan-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="look">查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#plan-detail'
                        ,url:'sellContractManage.list'
                        ,toolbar: '#plan-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '收款计划表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'id', title:'标题', width:120, fixed: 'left', unresize: true, sort: true}
                                ,{field:'username', title:'预计收款金额', width:120, edit: 'text'}
                                ,{field:'email', title:'当前状态', width:150, edit: 'text', templet: function(res){
                                    return '<em>'+ res.email +'</em>'
                                }}
                                ,{field:'sex', title:'合同/订单', width:120, edit: 'text', sort: true}
                                ,{field:'city', title:'客户', width:120}
                                ,{field:'sign', title:'计划收款日期',width:120}
                                ,{field:'experience', title:'实际收款日期', width:120, sort: true}
                                ,{field:'ip', title:'负责人', width:120}
                                ,{field:'logins', title:'创建时间', width:120, sort: true}
                                ,{fixed: 'right', title:'操作', toolbar: '#plan-barDemo', width:150}
                            ]
                        ]
                        ,page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="record-detail" lay-filter="detail"></table>

            <script type="text/html" id="record-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>
                    <div class="layui-input-inline layui-btn-sm" style="margin-top: -15px;">
                        <select name="quiz1">
                            <option value="浙江" selected="">所有人的回款记录</option>
                            <option value="你的工号">我的回款记录</option>
                        </select>
                    </div>
                </div>
            </script>
            <script type="text/html" id="record-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="look">查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#record-detail'
                        ,url:'sellContractManage.list'
                        ,toolbar: '#record-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '收款计划表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'id', title:'收款金额', width:120, fixed: 'left', unresize: true, sort: true}
                                ,{field:'username', title:'客户', width:120, edit: 'text'}
                                ,{field:'email', title:'合同/订单', width:150, edit: 'text', templet: function(res){
                                    return '<em>'+ res.email +'</em>'
                                }}
                                ,{field:'sex', title:'收款日期', width:120, edit: 'text', sort: true}
                                ,{field:'city', title:'是否需要发票', width:120}
                                ,{field:'sign', title:'是否一开发票',width:120}
                                ,{field:'experience', title:'经手人', width:120, sort: true}
                                ,{field:'ip', title:'负责人', width:120}

                                ,{fixed: 'right', title:'操作', toolbar: '#record-barDemo', width:150}
                            ]
                        ]
                        ,page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>

        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="shipments-detail" lay-filter="detail"></table>

            <script type="text/html" id="shipments-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>

                </div>
            </script>
            <script type="text/html" id="shipments-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="look">查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#shipments-detail'
                        ,url:'sellContractManage.list'
                        ,toolbar: '#shipments-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '收款计划表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'id', title:'发货单编号', width:120, fixed: 'left', unresize: true, sort: true}
                                ,{field:'username', title:'主题', width:120, edit: 'text'}
                                ,{field:'email', title:'发货人', width:150, edit: 'text', templet: function(res){
                                    return '<em>'+ res.email +'</em>'
                                }}
                                ,{field:'sex', title:'发货时间', width:120, edit: 'text', sort: true}
                                ,{field:'city', title:'收获客户', width:120}
                                ,{field:'sign', title:'订单/合同',width:120}
                                ,{field:'experience', title:'发货方式', width:120, sort: true}
                                ,{field:'ip', title:'发货状态', width:120}
                                ,{field:'ip', title:'快递单编号', width:120}
                                ,{field:'ip', title:'收获联系人', width:120}

                                ,{fixed: 'right', title:'操作', toolbar: '#shipments-barDemo', width:150}
                            ]
                        ]
                        ,page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>
        </div>

        <div class="layui-tab-item">
            <table class="layui-hide" id="cancel-detail" lay-filter="detail"></table>

            <script type="text/html" id="cancel-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="add">提交审批</button>
                    <button class="layui-btn layui-btn-sm" lay-event="add">审批流程</button>
                    <button class="layui-btn layui-btn-sm" lay-event="add">审批痕迹</button>
                    <button class="layui-btn layui-btn-sm" lay-event="add">流程图</button>
                    <button class="layui-btn layui-btn-sm" lay-event="add">反审批</button>
                    <div class="layui-input-inline layui-btn-sm" style="margin-top: -15px;">
                        <select name="quiz1">
                            <option value="你的工号">所有人的退货单（全部）</option>
                            <option value="浙江" selected="">所有人的退货单（已成功）</option>
                            <option value="你的工号">所有人的退货单（审批中）</option>
                            <option value="浙江" selected="">所有人的退货单（已失败）</option>
                            <option value="你的工号">我的退货单（全部）</option>
                            <option value="浙江" selected="">我的退货单（审批中）</option>
                            <option value="你的工号">我的退货单（已成功）</option>
                            <option value="浙江" selected="">我的退货单（以失败）</option>
                        </select>
                    </div>
                </div>
            </script>
            <script type="text/html" id="cancel-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="look">查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#cancel-detail'
                        ,url:'sellContractManage.list'
                        ,toolbar: '#cancel-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '收款计划表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'id', title:'退货名称', width:120, fixed: 'left', unresize: true, sort: true}
                                ,{field:'username', title:'编号', width:120, edit: 'text'}
                                ,{field:'email', title:'退货客户', width:150, edit: 'text', templet: function(res){
                                    return '<em>'+ res.email +'</em>'
                                }}
                                ,{field:'sex', title:'退货订单或合同', width:120, edit: 'text', sort: true}
                                ,{field:'city', title:'销售员', width:120}
                                ,{field:'sign', title:'分类',width:120}
                                ,{field:'experience', title:'退款额', width:120, sort: true}
                                ,{field:'ip', title:'收货人', width:120}
                                ,{field:'sign', title:'当前状态',width:120}
                                ,{field:'experience', title:'审批时间', width:120, sort: true}
                                ,{field:'ip', title:'审批结果', width:120}
                                ,{fixed: 'right', title:'操作', toolbar: '#cancel-barDemo', width:150}
                            ]
                        ]
                        ,page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="attachment-detail" lay-filter="detail"></table>

            <script type="text/html" id="attachment-Demo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>
                </div>
            </script>
            <script type="text/html" id="attachment-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="look">查看</a>
            </script>

            <script>
                layui.use('table', function(){
                    var table = layui.table;

                    table.render({
                        elem: '#attachment-detail'
                        ,url:'sellContractManage.list'
                        ,toolbar: '#attachment-Demo' //开启头部工具栏，并为其绑定左侧模板
                        ,title: '表'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field:'id', title:'名称', width:120, fixed: 'left', unresize: true, sort: true}
                                ,{field:'username', title:'文件', width:120, edit: 'text'}
                                ,{field:'email', title:'所属对象', width:150, edit: 'text', templet: function(res){
                                    return '<em>'+ res.email +'</em>'
                                }}
                                ,{field:'sex', title:'创建人', width:120, edit: 'text', sort: true}
                                ,{field:'city', title:'创建时间', width:120}
                                ,{fixed: 'right', title:'操作', toolbar: '#attachment-barDemo', width:150}
                            ]
                        ]
                        ,page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(contract)', function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：'+ data.length + ' 个');
                                break;
                            case 'isAll':
                                layer.msg(checkStatus.isAll ? '全选': '未全选');
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(contract)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                obj.del();
                                layer.close(index);
                            });
                        } else if(obj.event === 'edit'){
                            layer.prompt({
                                formType: 2
                                ,value: data.email
                            }, function(value, index){
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            </script>

        </div>
    </div>
</div>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    });
</script>
</body>
</html>