<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/lib/layui/css/layui.css">
    <script src="static/js/jquery-2.1.1.js"></script>
    <script src="static/lib/layui/layui.js"></script>
</head>
<body>
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container layui-input-inline">
        <button class="layui-btn layui-btn-sm" lay-event="addOrder">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="updateOrder">编辑</button>
        <button class="layui-btn layui-btn-sm" lay-event="deleteOrder">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">查看</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">发起流程</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">流程审批</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">流程痕迹</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">流程图</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">反审批</button>
    </div>

    <div class="layui-input-inline">
        <select name="orderApprovalStatus" lay-filter="orderApprovalStatus">
            <option value="0">所有人的订单(全部)</option>
            <option value="1">所有人的订单(审批中)</option>
            <option value="2">所有人的订单(以成功)</option>
            <option value="3">所有人的订单(以失败)</option>
        </select>
    </div>
</script>

<script>
    layui.use(['table','form'], function(){
        var table = layui.table,
            form = layui.form;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: 'find_order.htmls' //数据接口
            ,page: true //开启分页
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,limits:[4,6,8]
            ,limit:4
            ,cols: [
                [ //表头
                 {type: 'checkbox', fixed: 'left'}
                ,{field: 'orderId', title: '订单编号',width:120}
                ,{field: 'orderName', title: '名称',width:120}
                ,{field: 'fkCusName', title: '所属客户',width:120}
                ,{field: 'fkObjectName', title: '所属对象',width:120}
                ,{field: 'orderType', title: '分类',width:120,templet: function (data) {
                        if (data.orderType == 0) {
                            return "产品销售";
                        }
                        if (data.orderType == 1) {
                            return "服务";
                        }
                    }
                }
                ,{field: 'orderTotalSum', title: '不含税总额',width:120}
                ,{field: 'orderGrossProfit', title: '毛利润',width:120}
                ,{field: 'orderRevenue', title: '税额',width:120}
                ,{field: 'orderSaleroom', title: '销售额',width:120}
                ,{field: 'orderAmountRemitted', title: '已收款金额',width:120}
                ,{field: 'orderInvoiceAmount', title: '已开票金额',width:120}
                ,{field: 'orderApprovalStatus', title: '审批状态',width:120,templet: function (data) {
                        if (data.orderApprovalStatus == 0) {
                            return "审批中";
                        }
                        if (data.orderApprovalStatus == 1) {
                            return "未启动";
                        }
                        if (data.orderApprovalStatus == 2) {
                            return "以完成";
                        }
                        return "";
                    }}
                ,{field: 'orderApprovalTime', title: '审批时间',width:120}
                ,{field: 'orderApprovalResult', title: '审批结果',width:120,templet: function (data) {
                        if (data.orderApprovalResult == 0) {
                            return "成功结束";
                        }
                        if (data.orderApprovalResult == 1) {
                            return "失败结束";
                        }
                        return "无";
                    }}
            ]
            ]
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'addOrder':
                    layer.open({
                        type: 2,
                        area: ['1000px', '450px'],
                        title:'添加订单信息',
                        content: 'add_order.html',
                        btn: ['保存', '取消'],
                        btnAlign: 'c',
                        yes: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            body.find('#btnAddOrdre').click();
                        },
                        btn2: function(index, layero){
                            layer.close(index);
                        }
                    });
                    break;
                case 'updateOrder':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        var orderId=data[0].orderId;
                        layer.open({
                            title: '修改订单',
                            type: 2,
                            area: ['1000px', '450px'],
                            content: 'update_order.html?orderId=' + orderId + ''
                            , btn: ['保存','取消']
                            , btnAlign: 'c'
                            , yes: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                body.find('#btnUpdateOrdre').click();
                            }
                            ,btn2: function(index, layero){
                                layer.close(index);
                            }
                        });
                    }
                    break;
                case 'deleteOrder':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm('确定要删除选中的行?', {icon: 3, title: '提示'}, function (index) {
                            var data = checkStatus.data;
                            var array = new Array();
                            for (var i = 0; i < data.length; i++) {
                                array[i] = data[i].orderId;
                            }
                            $.ajax({
                                url: "delete_order.htmls",
                                type: "get",
                                data: {array: array},
                                traditional: true,
                                success: function (data) {
                                    if (data.show == "success") {
                                        layer.msg('删除成功', {icon: 1, time: 2000}, function () {
                                            window.location.reload();
                                        });
                                    }
                                },
                                error:function () {
                                    layer.msg('ajax执行错误',{icon:2,time:2000});
                                }
                            })
                        });
                    }
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //审批状态监听
        form.on('select(orderApprovalStatus)', function(data){
            var orderApprovalStatus=data.value;
            table.reload('demo', {
                url: 'find_order.htmls'
                , where: {
                    orderApprovalStatus: orderApprovalStatus,
                } //设定异步数据接口的额外参数
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
                //,height: 300
            });
        });

    });
</script>
</body>
</html>